.Container{
  background: #F3F2F2;
  padding: 30px;
  border-radius: 60px 0 0 0;
  height: 504px;
  margin: 0 auto;
  display: block;
  overflow: auto;
  font-family: "Inter";
}

.ContainerDataTemp{
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.F1Table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 22px;
  border-collapse: separate; 
}

.F1Table td, .F1Table th {
  border: 1px solid #35B7DA;
  padding: 8px;
}

.F1Table tr:nth-child(even){background-color: #f2f2f2;}

.F1Table tr:hover {background-color: #ddd;}

.F1Table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FE2323;
  color: white;
}

.F1Table tr, .F1Table td, .F1Table th { 
  border-top-right-radius: 0;               
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
  border-bottom-right-radius: 0; 
}
.F1Table th:first-child { 
  border-top-left-radius: 10px; 
}
.F1Table th:last-child {   
  border-top-right-radius: 10px; 
}
.F1Table tr:last-child td:first-child { 
  border-bottom-left-radius: 10px; 
}
.F1Table tr:last-child td:last-child { 
  border-bottom-right-radius: 10px; 
}